chromadb==0.5.3
datasets==2.20.0
langchain==0.2.11
langchain_chroma==0.1.2
langchain_community==0.2.10
langchain_core==0.2.23
langchain_openai==0.1.17
langchain_text_splitters==0.2.2
optuna==3.6.1
pandas==2.2.2
plotly==5.22.0
polars==1.2.1
python-dotenv==1.0.1
ragas==0.1.10
Requests==2.32.3
streamlit==1.36.0
